# Practice Notebook - Pandas

We are using Ozone dataset for this practice. You can find the dictionary of this dataset [here](https://stat.ethz.ch/R-manual/R-devel/library/datasets/html/airquality.html)

In [1]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/ga-students/DS-SF-24/master/Data/ozone.csv?token=APwQIGAaLKQz4PAeUtshFqVySu92FXpwks5XaGAxwA%3D%3D')

Look up the first 5 observations of this dataset.

In [2]:
data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2
2     12      149  12.6    74      5    3
3     18      313  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [3]:
my_list = data.columns.values
for i in my_list:
    print i

#Alternatively you could try data.columns.values and use a for loop to show values line by line

Ozone
Solar.R
Wind
Temp
Month
Day

How many observations (i.e. rows) are in this data frame?

In [5]:
print len(data)
# There are 153 observations in data
#Alternatively we could use shape
print data.shape[0]

153

153

What is the value of Ozone in the 47th row?

In [10]:
print data.Ozone[46]
# Alternatively
print data['Ozone'][46]
# Alternatively
print data.loc[46,'Ozone']

21.0
21.0
21.0

How many missing values are in the Ozone column of this data frame?

In [18]:
# count() counts all values that not missing
# len() count number of observations. (This includes missing values)
OzoneNonMissing = data.Ozone.count()# There are 116 non-missing values 
OzoneTotal = len(data) #there are 153 observations in dataset
print (OzoneTotal - OzoneNonMissing) #There are 37 missing values


#Alternatively
data.Ozone.isnull().sum()

37

37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [21]:

print data.Ozone.sum()/data.Ozone.count()
#alternative approach
print data.Ozone.mean()

42.1293103448
42.1293103448

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [31]:
DataNew = data[(data.Ozone > 31) & (data.Temp > 90)] 
DataNew['Solar.R'].mean()


# Aleternative Approach
print data[(data.Ozone > 31) & (data.Temp > 90)]['Solar.R'].mean()

212.8

What is the mean of "Temp" when "Month" is equal to 6?

In [33]:
print data[data.Month == 6].Temp.mean()

79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [34]:
print data[data.Month == 5]['Ozone'].max()

115.0

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas