## Pandas and DataFrames Overview

In [1]:
import pandas as pd
import numpy as np

## Convert Dictionaries to DataFrame

In [2]:
GA_DAT = {'Class':[1,2,3,4,5],
             'Registered':[20,30,40,35,10],
             'Graduated':[19,28,35,20,10]}
df = pd.DataFrame(GA_DAT)   #Convert a dictionary to a dataframe
print df   # now check index. Do you like it? (I don't!)

   Class  Graduated  Registered
0      1         19          20
1      2         28          30
2      3         35          40
3      4         20          35
4      5         10          10

## Let's set index to represent Class

In [3]:
df = df.set_index('Class')
print df

       Graduated  Registered
Class
1             19          20
2             28          30
3             35          40
4             20          35
5             10          10

In [4]:
print df.head(2)
print df.tail(3)

       Graduated  Registered
Class
1             19          20
2             28          30
       Graduated  Registered
Class
3             35          40
4             20          35
5             10          10

In [5]:
print df.Graduated 
print df['Graduated']

Class
1    19
2    28
3    35
4    20
5    10
Name: Graduated, dtype: int64
Class
1    19
2    28
3    35
4    20
5    10
Name: Graduated, dtype: int64

In [6]:
print df[['Graduated','Registered']]

       Graduated  Registered
Class
1             19          20
2             28          30
3             35          40
4             20          35
5             10          10

In [8]:
df.describe()  #Summary of your data frame

       Graduated  Registered
count   5.000000    5.000000
mean   22.400000   27.000000
std     9.502631   12.041595
min    10.000000   10.000000
25%    19.000000   20.000000
50%    20.000000   30.000000
75%    28.000000   35.000000
max    35.000000   40.000000

In [10]:
print df.describe()['Graduated']['25%']

19.0

## Grouping

In [12]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                       'foo', 'bar', 'foo', 'foo'],
                       'B' : ['one', 'one', 'two', 'three',
                             'two', 'two', 'one', 'three'],
                       'C' : np.random.randn(8),
                       'D' : np.random.randn(8)})

df

     A      B         C         D
0  foo    one  1.863318 -0.809723
1  bar    one -0.943454 -0.808633
2  foo    two -0.234212  0.793629
3  bar  three  1.128464 -0.958524
4  foo    two  0.628704 -1.040631
5  bar    two  0.627747 -0.323390
6  foo    one -0.025661  1.426052
7  foo  three  1.004662  0.377343

In [13]:
df.groupby(['A','B']).mean()

                  C         D
A   B
bar one   -0.943454 -0.808633
    three  1.128464 -0.958524
    two    0.627747 -0.323390
foo one    0.918828  0.308164
    three  1.004662  0.377343
    two    0.197246 -0.123501

In [14]:
print df.groupby(['A','B']).mean()['C'][1]
df.groupby(['A','B']).mean().C[1]

1.12846355124

1.1284635512447061

# Input/output almost any type of Data using Pandas
Using pandas I/O API you can read from, convert to, or write in almost any type of dataset. Please refer to <http://pandas.pydata.org/pandas-docs/stable/io.html> for more info.

## Let's read csv

You can read any file from your local computer by refering to the complete address of your data. Alternatively you can input data from internet.

The following DataFrame contains median price values of San Francisco housing market. It has two columns, one is Date and one is the median values for that month.

In [15]:
df = pd.read_csv('https://raw.githubusercontent.com/ga-students/DS-SF-24/master/Data/SF-Median-Prices.csv?token=APwQIDslwj3i5ASGmJ5-KnBzEa_ZYqGvks5XaFM8wA%3D%3D') 
print df.head()

       Date    Value
0  12/31/15  1138500
1  11/30/15  1126750
2  10/31/15  1093250
3   9/30/15  1080750
4   8/31/15  1138750

In [16]:
df = df.set_index('Date')

In [17]:
df.head()

            Value
Date
12/31/15  1138500
11/30/15  1126750
10/31/15  1093250
9/30/15   1080750
8/31/15   1138750

In [18]:
#now let's find the mean, variance, max and min of median home values
print df.Value.mean()
print df.Value.var() 
print df.Value.max()
print df.Value.min()

642629.746835
46178380642.1
1185250
250400

#### Now let's check the index of the day with minimum value

In [19]:
DFMin = df[df.Value == df.Value.min()] 
print DFMin.index.values

['10/31/96']

Now let's save our dataframe into "html" format

In [21]:
df.to_html('SFData.html') #check your working directory

## Now let's rename columns in our DataFrame

In [22]:
df2 = df.rename(columns = {'Value':'SFHomeValue'})

In [23]:
df2.head()

          SFHomeValue
Date
12/31/15      1138500
11/30/15      1126750
10/31/15      1093250
9/30/15       1080750
8/31/15       1138750

In [24]:
df2.loc['12/31/15':'10/31/15']  #Access to a portion of DataFrame using index
# df2.loc['12/31/15':'10/31/15',['SFHomeValue']]  Alternatively

          SFHomeValue
Date
12/31/15      1138500
11/30/15      1126750
10/31/15      1093250

#### Check number of observations and variables in your data set

In [25]:
print df2.count()  #check how many observations are in your data set
print df2.shape[0] #number of observations
print df2.shape[1] #number of variables

SFHomeValue    237
dtype: int64
237
1

In [26]:
# Summary of data
df2.describe()

          SFHomeValue
count      237.000000
mean    642629.746835
std     214891.555539
min     250400.000000
25%     504000.000000
50%     683750.000000
75%     767500.000000
max    1185250.000000

In [27]:
df2.SFHomeValue.sort

<bound method Series.sort of Date
12/31/15    1138500
11/30/15    1126750
10/31/15    1093250
9/30/15     1080750
8/31/15     1138750
7/31/15     1124000
6/30/15     1156000
5/31/15     1125350
4/30/15     1115500
3/31/15     1185250
2/28/15     1020875
1/31/15      963250
12/31/14    1002675
11/30/14    1024825
10/31/14     973250
9/30/14      954000
8/31/14      967750
7/31/14      988450
6/30/14      966550
5/31/14      949000
4/30/14      941000
3/31/14      943500
2/28/14      894100
1/31/14      867000
12/31/13     844650
11/30/13     877750
10/31/13     849750
9/30/13      832500
8/31/13      841500
7/31/13      849500
             ...
9/30/98      337800
8/31/98      332975
7/31/98      336400
6/30/98      330125
5/31/98      333250
4/30/98      315500
3/31/98      301000
2/28/98      299700
1/31/98      317800
12/31/97     312350
11/30/97     304650
10/31/97     298750
9/30/97      295700
8/31/97      289300
7/31/97      283250
6/30/97      283625
5/31/97      281875
4/30/97      280350
3/31/97      271850
2/28/97      268800
1/31/97      268250
12/31/96     263750
11/30/96     255350
10/31/96     250400
9/30/96      262600
8/31/96      268650
7/31/96      273000
6/30/96      274250
5/31/96      265700
4/30/96      259300
Name: SFHomeValue, dtype: int64>

In [28]:
df3 = df2[df2.SFHomeValue > 1000000]
df3

          SFHomeValue
Date
12/31/15      1138500
11/30/15      1126750
10/31/15      1093250
9/30/15       1080750
8/31/15       1138750
7/31/15       1124000
6/30/15       1156000
5/31/15       1125350
4/30/15       1115500
3/31/15       1185250
2/28/15       1020875
12/31/14      1002675
11/30/14      1024825

In [29]:
pd.isnull(df3)  #Looking for missing values - output is boolean - True if there is any missing value

         SFHomeValue
Date
12/31/15       False
11/30/15       False
10/31/15       False
9/30/15        False
8/31/15        False
7/31/15        False
6/30/15        False
5/31/15        False
4/30/15        False
3/31/15        False
2/28/15        False
12/31/14       False
11/30/14       False

# Setting your working Directory (Optional Materials)

In [30]:
#How to know your current working directory?
import os
from os import getcwd
getcwd()

'/Users/hamed/Desktop/GA24Codes'

In [31]:
# You can set your working directory to where you keep your data
os.chdir('/Users/hamed/Desktop/DS-SF-24/Data/') #PLEASE SET THIS WORKING DIRECTORY TO YOURS

From now on, you can refer to your files locally i.e. you can only refer to the name of your dataset, etc.

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with examples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas